html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    max-width: 100%;
    margin: 0;
    margin-bottom: 150px;
    font-family: 'Andika';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Andika';
}

#bg {
    background-image: url(https://source.unsplash.com/featured/?crochet);
    background-repeat: no-repeat;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 150px;
}

#banner_content {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    margin-top: 50px;
    background-color: #141414;
    min-height: 150px;
    padding-top: 40px;
    width: 100%;
    bottom: 0;
}

.container a {
    color: black;
}

.container a:hover {
    color: grey;
}

#size {
    max-height: 200px;
}

CSS for navbar
.navbar {
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.navbar-brand {
    flex-grow: 1;
    text-align: center;
  }
  
  Add this CSS to position the navigation items
  .navbar-nav {
    flex-grow: 1;
    justify-content: flex-start;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .navbar-nav.ml-auto {
    justify-content: flex-end;
    margin-left: auto !important;
  }
  
  .navbar-nav.ml-auto .nav-item:last-child {
    margin-right: 0;
  }
  
  .forum-title {
    margin-top: 50px; /* Adjust the value as needed */
}
  /* CSS for navbar 
  .navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-item:last-child {
    margin-left: auto;
}*/